$font_base: 'Montserrat', sans-serif;

$default-font-color: #000000;
$color_black: #000000;
$color_dark: #333333;
$background-gray: #F7F7F7;

$color_primary: #D6001C;
$primary_hover: #A00015;
$primary_visited: #6B000E;

$color_white: #ffffff;

$transition: 0.25s;
