$font_base: 'Montserrat', sans-serif;

$default-font-color: #000000;
$color_black: #000000;
$color_dark: #333333;
$background-gray: #F9F9F9;

$color_primary: #01A33C;
$primary_hover: #017332;
$primary_visited: #014801;

$color_white: #ffffff;

$transition: 0.25s;
